<div class="container">
  <div class="header">
    <span class="title">Gif Search</span>
    <div class="search">
      <input
        type="text"
        class="search-bar"
        id="userinput"
        placeholder="What are you looking for?"
      />
      <select
        name="search-options"
        id="search-options"
        class="dropdown"
        disabled
      >
        <option value="all">Show All</option>
      </select>
      <button type="button" class="search-button" (click)="searchGifs()">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="text-md">You can search any gif with our search</div>
    <div>
      Everything you need for your creative projects, websites, banners,
      presentations, magazines and advertising
    </div>
  </div>
  <div class="main-content" id="main-content"></div>
  <div class="footer">
    <div class="footer-content">
      <div class="sign-up">
        <div>
          <div>Sign up and</div>
          <div>get free content every week.</div>
        </div>
        <input type="text" class="email" placeholder="Enter your email..." />
        <button type="button" class="sign-up-button">Sign Up</button>
      </div>
      <div class="categories">
        <div class="browse-categories">Browse by categories</div>
        <div class="category-items">
          <div class="flex-item">Graphics</div>
          <div class="flex-item">Addons</div>
          <div class="flex-item">Buttons</div>
          <div class="flex-item">Infographics</div>
          <div class="flex-item">PSDs</div>
          <div class="flex-item">Fonts</div>
          <div class="flex-item">Forms</div>
          <div class="flex-item">Graphs</div>
          <div class="flex-item">Icons</div>
          <div class="flex-item">Textures</div>
          <div class="flex-item">GUI</div>
          <div class="flex-item">Logos</div>
          <div class="flex-item">Templates</div>
          <div class="flex-item">Patterns</div>
          <div class="flex-item">Navigation</div>
          <div class="flex-item">Vectors</div>
          <div class="flex-item">Themes</div>
          <div class="flex-item">Backgrounds</div>
          <div class="flex-item">UI Kits</div>
          <div class="flex-item">Business Cards</div>
        </div>
      </div>
    </div>
  </div>
</div>
